<div class="post-content">
    <div class="ui grid">
        <div class="four wide column">
            <a class="avatar avatar-link" href="/post?author=<%= post.author._id %>" data-title="<%= post.author.name %> | <%%>" ></a>
        </div>
    </div>
</div>